.gallery {
  padding: 100px 50px;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(226 230 255 / 82%);
}

.gallery__image {
  padding: 3px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 2px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.gallery__image:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.gallery img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.3s;
}

/* Main CSS */
.gallery-wrapper>img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.gallery-wrapper .wide {
  grid-column: span 2;
}

.gallery-wrapper .tall {
  grid-row: span 2;
}

.gallery-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.image-title {
  font-family: Raleway;
  text-align: center;
  width: 60%;
  color: #ccc;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .gallery {
    padding: 50px 20px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 180px;
    gap: 10px;
  }

  .gallery-wrapper .wide {
    grid-column: span 1;
  }

  .gallery-wrapper .tall {
    grid-row: span 1;
  }

  .gallery-wrapper .big {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__image {
    height: 100%;
    padding: 2px;
  }
}

@media (max-width: 568px) {
  .gallery {
    padding: 50px 10px;
  }
}